/* ========== Global ========== */
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.section:not(:first-child) {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  box-sizing: border-box;
  align-items: center;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

section {
  max-width: 1440px;
  margin: 0 auto;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;

  input {
    padding: 0;
  }
}

/* ========== header ========== */
header .container {
  display: flex;
  justify-content: space-between;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  max-width: 1440px;
  margin: 0 auto;
}

.navigation {
  align-items: center;
}

header .navigation,
header .menu,
header .address-menu {
  display: flex;
  gap: 40px;
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  color: #2e2f42;
  text-align: center;
}

/* h3 */
.section-item {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
}

.link {
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: #2e2f42;
}

.logo-link {
  text-decoration: none;
  color: #4d5ae5;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  margin-right: 76px;
}

.logo-link .studio {
  color: #2e2f42;
}

.menu {
  padding: 24px 0;
}

.menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 24px 0;
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: underline;
  color: #434455;
  font-style: normal;
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* ========== hero ========== */
.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-name {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
  max-width: 496px;
}

.button {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* ========== our goals ========== */
.goals .container {
  width: 1440px;
}

.goals {
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.goals-list {
  display: flex;
  column-gap: 24px;
  justify-content: center;
}

.goals-item {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: calc((100% - 72px) / 4);
}

.icons-goals {
  display: flex;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  padding: 24px 100px;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
}

.goals-title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.goals .section-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.goals-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ========== our team ========== */

.team .container {
  width: 1440px;
}

.team {
  background-color: #f4f4fd;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}

.team-list {
  display: flex;
  gap: 24px;

  justify-content: center;
}

.team .section-title {
  margin-bottom: 72px;
}

.team-items {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-link .icon {
  fill: #f4f4fd;
}

.social-items {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.team-title {
  line-height: 1.2;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
}

.team-items {
  display: flex;
  flex-direction: column;
  width: calc((100% - 72px) / 4);
}

.team-inside {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 32px 0px;
  margin-left: auto;
  margin-right: auto;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ========== portfolio ========== */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio .section-title {
  margin-bottom: 72px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-inside {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.box-overlay {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translatey(100%);
}

.portfolio-item:hover .overlay-text,
.portfolio-item:focus .overlay-text {
  transform: translatey(0);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* ========== footer ========== */
.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-description {
  margin-right: 120px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}
.footer-logo .studio {
  color: #f4f4fd;
  letter-spacing: 0.03em;
}

.footer-text {
  color: #f4f4fd;
  width: 264px;
}

.footer-title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-social-items {
  width: 40px;
  height: 40px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.page-footer .icon {
  fill: #f4f4fd;
}

.footer-form {
  display: flex;
  gap: 24px;
}
.footer-email {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  outline: none;
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.04em;
  cursor: text;
}

.footer-email::placeholder {
  color: #ffffff;
}

.footer-btn {
  border: none;
  display: flex;
  min-width: 165px;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  border-radius: 4px;
  background: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #404bbf;
}

.footer-button-icon {
  fill: #fff;
  margin-left: 16px;
}

/* ========== Modal ========== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover > .close-icon,
.close-btn:focus > .close-icon {
  fill: #ffffff;
}

.form-title {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.inputs {
  margin-bottom: 8px;
}

.form-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.input-wrapper {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .input-icon {
  fill: #4d5ae5;
}

.form-textarea {
  margin-bottom: 16px;
}

.textarea-input {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-input:focus {
  border-color: #4d5ae5;
}

.checkbox-privacy {
  margin-bottom: 24px;
}

.privacy-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-ok {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.visually-hidden:checked + label > span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-policy {
  color: #4d5ae5;
}

.form-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}

.form-btn:hover,
.form-btn:focus {
  background-color: #404bbf;
}
